/* Pretendard 폰트 적용해놓았습니다
font-family: 'Pretendard-Regular';으로 사용하시면 돼요! */

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

nav{
  font-family: 'Pretendard-Regular';
}

nav ul{
  padding: 0;
  margin: 0 auto;
  width: auto;
  position: relative;
}

#clearfix {
  margin-right: 84px;
}

nav a{
  line-height: 64px;
  height: 64px;
}

nav li a{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

nav li:last-child a{
  border-right: 0;
    }

nav a#pull{
  display: none;
}
  
html {
-webkit-touch-callout:none;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

ul{
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.778);
  text-align: right;
}

li{
  display: inline-block;
}

li a{
  color: #000000;
  text-align: center;
  margin-right: 33px;
  text-decoration: none;
}

li a:hover{
  color: #FE395D;
  font-weight:normal;
}

#logo {
  float: left;
  margin-top: 5px;
}

.menu {
  width: 5000px;
  height: 500px;
  text-align: center;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

body {
  margin: 0;
  background: #EEE;
  user-select: none;
  font-family: sans-serif;
}
